You can order print and ebook versions of *Think Python 3e* from
[Bookshop.org](https://bookshop.org/a/98697/9781098155438) and
[Amazon](https://www.amazon.com/_/dp/1098155432?smid=ATVPDKIKX0DER&_encoding=UTF8&tag=oreilly20-20&_encoding=UTF8&tag=greenteapre01-20&linkCode=ur2&linkId=e2a529f94920295d27ec8a06e757dc7c&camp=1789&creative=9325).

In [2]:
from os.path import basename, exists

def download(url):
    filename = basename(url)
    if not exists(filename):
        from urllib.request import urlretrieve

        local, _ = urlretrieve(url, filename)
        print("Downloaded " + str(local))
    return filename

download('https://github.com/AllenDowney/ThinkPython/raw/v3/thinkpython.py');
download('https://github.com/AllenDowney/ThinkPython/raw/v3/diagram.py');

import thinkpython

# Tuples

This chapter introduces one more built-in type, the tuple, and then shows how lists, dictionaries, and tuples work together.
It also presents tuple assignment and a useful feature for functions with variable-length argument lists: the packing and unpacking operators.

In the exercises, we'll use tuples, along with lists and dictionaries, to solve more word puzzles and implement efficient algorithms.

One note: There are two ways to pronounce "tuple".
Some people say "tuh-ple", which rhymes with "supple".
But in the context of programming, most people say "too-ple", which rhymes with "quadruple".

## Tuples are like lists

A tuple is a sequence of values. The values can be any type, and they are indexed by integers, so tuples are a lot like lists.
The important difference is that tuples are immutable.

To create a tuple, you can write a comma-separated list of values.

In [2]:
t = 'l', 'u', 'p', 'i', 'n'
type(t)

tuple

Although it is not necessary, it is common to enclose tuples in parentheses.

In [ ]:
t = ('l', 'u', 'p', 'i', 'n')

type(t)

tuple

To create a tuple with a single element, you have to include a final comma.

In [8]:
t1 = 'p',
type(t1)

tuple

In [10]:
len(t1)

1

A single value in parentheses is not a tuple.

In [7]:
t2 = ('p')
type(t2)

str

Another way to create a tuple is the built-in function `tuple`. With no
argument, it creates an empty tuple.

In [11]:
t = tuple()
t

()

If the argument is a sequence (string, list or tuple), the result is a
tuple with the elements of the sequence.

In [17]:
t = tuple('lupinnn')
t

('l', 'u', 'p', 'i', 'n', 'n', 'n')

Because `tuple` is the name of a built-in function, you should avoid using it as a variable name.

Most list operators also work with tuples.
For example, the bracket operator indexes an element.

In [18]:
t[0]

'l'

And the slice operator selects a range of elements.

In [19]:
t[1:3]

('u', 'p')

The `+` operator concatenates tuples.

In [20]:
tuple('lup') + ('i', 'n')

('l', 'u', 'p', 'i', 'n')

And the `*` operator duplicates a tuple a given number of times.

In [21]:
tuple('spam') * 2

('s', 'p', 'a', 'm', 's', 'p', 'a', 'm')

The `sorted` function works with tuples -- but the result is a list, not a tuple.

In [22]:
sorted(t)

['i', 'l', 'n', 'n', 'n', 'p', 'u']

The `reversed` function also works with tuples.

In [23]:
reversed(t)

The result is a `reversed` object, which we can convert to a list or tuple.

In [24]:
tuple(reversed(t))

('n', 'n', 'n', 'i', 'p', 'u', 'l')

Based on the examples so far, it might seem like tuples are the same as lists.

## But tuples are immutable

If you try to modify a tuple with the bracket operator, you get a `TypeError`.

In [25]:
t[0] = 'L'

TypeError: 'tuple' object does not support item assignment

And tuples don't have any of the methods that modify lists, like `append` and `remove`.

In [26]:
t.remove('l')

AttributeError: 'tuple' object has no attribute 'remove'

Recall that an "attribute" is a variable or method associated with an object -- this error message means that tuples don't have a method named `remove`.

Because tuples are immutable, they are hashable, which means they can be used as keys in a dictionary.
For example, the following dictionary contains two tuples as keys that map to integers.

In [27]:
d = {}
d[1, 2] = 3
d[3, 4] = 7

In [28]:
d

{(1, 2): 3, (3, 4): 7}

We can look up a tuple in a dictionary like this:

In [31]:
d[1, 2]

3

Or if we have a variable that refers to a tuple, we can use it as a key.

In [33]:
t = (3, 4)
d[t]

7

Tuples can also appear as values in a dictionary.

In [34]:
t = tuple('abc')
d = {'key': t}
d

{'key': ('a', 'b', 'c')}

## Tuple assignment

You can put a tuple of variables on the left side of an assignment, and a tuple of values on the right.

In [35]:
a, b = 1, 2

The values are assigned to the variables from left to right -- in this example, `a` gets the value `1` and `b` gets the value `2`.
We can display the results like this:

In [36]:
a, b

(1, 2)

In [37]:
a, b = b, a

a, b

(2, 1)

More generally, if the left side of an assignment is a tuple, the right side can be any kind of sequence -- string, list or tuple.
For example, to split an email address into a user name and a domain, you could write:

In [38]:
email = 'monty@python.org'
username, domain = email.split('@')

The return value from `split` is a list with two elements -- the first element is assigned to `username`, the second to `domain`.

In [39]:
username, domain

('monty', 'python.org')

The number of variables on the left and the number of values on the
right have to be the same -- otherwise you get a `ValueError`.

In [40]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

Tuple assignment is useful if you want to swap the values of two variables.
With conventional assignments, you have to use a temporary variable, like this:

In [41]:
temp = a
a = b
b = temp

That works, but with tuple assignment we can do the same thing without a temporary variable.

In [42]:
a, b = b, a

This works because all of the expressions on the right side are evaluated before any of the assignments.

We can also use tuple assignment in a `for` statement.
For example, to loop through the items in a dictionary, we can use the `items` method.

In [45]:
d = {'one': 1, 'two': 2}

for item in d.items():
    key = item[0]
    value = item[1]
    print(key, '->', value)

one -> 1
two -> 2

In [46]:
for item in d.items():
    key, value = item
    print(f"{key} -> {value}")

one -> 1
two -> 2

Each time through the loop, `item` is assigned a tuple that contains a key and the corresponding value.

We can write this loop more concisely, like this:

In [ ]:
for key, value in d.items():
    print(key, '->', value)

Each time through the loop, a key and the corresponding value are assigned directly to `key` and `value`.

## Tuples as return values

Strictly speaking, a function can only return one value, but if the
value is a tuple, the effect is the same as returning multiple values.
For example, if you want to divide two integers and compute the quotient
and remainder, it is inefficient to compute `x//y` and then `x%y`. It is
better to compute them both at the same time.

The built-in function `divmod` takes two arguments and returns a tuple
of two values, the quotient and remainder.

In [47]:
divmod(7, 3)

(2, 1)

We can use tuple assignment to store the elements of the tuple in two variables.

In [48]:
quotient, remainder = divmod(7, 3)
quotient

2

In [49]:
remainder

1

Here is an example of a function that returns a tuple.

In [50]:
def min_max(t):
    return min(t), max(t)

`max` and `min` are built-in functions that find the largest and smallest elements of a sequence.
`min_max` computes both and returns a tuple of two values.

In [51]:
min_max([2, 4, 1, 3])

(1, 4)

We can assign the results to variables like this:

In [52]:
low, high = min_max([2, 4, 1, 3])
low, high

(1, 4)

## Argument packing

Functions can take a variable number of arguments.
A parameter name that begins with the `*` operator **packs** arguments into a tuple.
For example, the following function takes any number of arguments and computes their arithmetic mean -- that is, their sum divided by the number of arguments.

In [67]:
def mean(*args):
    return sum(args) / len(args)

The parameter can have any name you like, but `args` is conventional.
We can call the function like this:

In [59]:
mean(1, 2, 3)

2.0

If you have a sequence of values and you want to pass them to a function as multiple arguments, you can use the `*` operator to **unpack** the tuple.
For example, `divmod` takes exactly two arguments -- if you pass a tuple as a parameter, you get an error.

In [62]:
t = (3, 4)
sum(*t)

7

In [ ]:
%%expect TypeError
t = (7, 3)
divmod(t)

Even though the tuple contains two elements, it counts as a single argument.
But if you unpack the tuple, it is treated as two arguments.

In [63]:
divmod(*t)

(0, 3)

Packing and unpacking can be useful if you want to adapt the behavior of an existing function.
For example, this function takes any number of arguments, removes the lowest and highest, and computes the mean of the rest.

In [64]:
def trimmed_mean(*args):
    low, high = min_max(args)
    trimmed = list(args)
    trimmed.remove(low)
    trimmed.remove(high)
    return mean(*trimmed)

First it uses `min_max` to find the lowest and highest elements.
Then it converts `args` to a list so it can use the `remove` method.
Finally it unpacks the list so the elements are passed to `mean` as separate arguments, rather than as a single list.

Here's an example that shows the effect.

In [70]:
mean(1, 2, 3, 10)

4.0

In [71]:
trimmed_mean(1, 2, 3, 10)

2.5

This kind of "trimmed" mean is used in some sports with subjective judging -- like diving and gymnastics -- to reduce the effect of a judge whose score deviates from the others.

## Zip

Tuples are useful for looping through the elements of two sequences and performing operations on corresponding elements.
For example, suppose two teams play a series of seven games, and we record their scores in two lists, one for each team.

In [72]:
scores1 = [1, 2, 4, 5, 1, 5, 2]
scores2 = [5, 5, 2, 2, 5, 2, 3]

Let's see how many games each team won.
We'll use `zip`, which is a built-in function that takes two or more sequences and returns a **zip object**, so-called because it pairs up the elements of the sequences like the teeth of a zipper.

In [77]:
zip(scores1, scores2)

We can use the zip object to loop through the values in the sequences pairwise.

In [80]:
for i in range(len(scores1)):
    print((scores1[i], scores2[i]))

(1, 5)
(2, 5)
(4, 2)
(5, 2)
(1, 5)
(5, 2)
(2, 3)

In [78]:
for pair in zip(scores1, scores2):
     print(pair)

(1, 5)
(2, 5)
(4, 2)
(5, 2)
(1, 5)
(5, 2)
(2, 3)

Each time through the loop, `pair` gets assigned a tuple of scores.
So we can assign the scores to variables, and count the victories for the first team, like this:

In [ ]:
team1wins = 0
for team1, team2 in zip(scores1, scores2):
    if team1 > team2:
        team1wins += 1

team1wins

Sadly, the first team won only three games and lost the series.

If you have two lists and you want a list of pairs, you can use `zip` and `list`.

In [81]:
t = list(zip(scores1, scores2))
t

[(1, 5), (2, 5), (4, 2), (5, 2), (1, 5), (5, 2), (2, 3)]

The result is a list of tuples, so we can get the result of the last game like this:

In [82]:
t[-1]

(2, 3)

If you have a list of keys and a list of values, you can use `zip` and `dict` to make a dictionary.
For example, here's how we can make a dictionary that maps from each letter to its position in the alphabet.

In [94]:
letters = 'abcdefghijklmnopqrstuvwxyz'
letter_map = {}
for i in range(len(letters)):
    letter_map[letters[i]] = i

letter_map

{'a': 0,
 'b': 1,
 'c': 2,
 'd': 3,
 'e': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

In [96]:
letters = 'abcdefghijklmnopqrstuvwxyz'
numbers = range(len(letters))
letter_map = dict(zip(letters, numbers))
letter_map

{'a': 0,
 'b': 1,
 'c': 2,
 'd': 3,
 'e': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'j': 9,
 'k': 10,
 'l': 11,
 'm': 12,
 'n': 13,
 'o': 14,
 'p': 15,
 'q': 16,
 'r': 17,
 's': 18,
 't': 19,
 'u': 20,
 'v': 21,
 'w': 22,
 'x': 23,
 'y': 24,
 'z': 25}

Now we can look up a letter and get its index in the alphabet.

In [89]:
letter_map['a'], letter_map['z']

(0, 25)

In this mapping, the index of `'a'` is `0` and the index of `'z'` is `25`.

If you need to loop through the elements of a sequence and their indices, you can use the built-in function `enumerate`.

In [98]:
list(enumerate(letter_map.items()))

[(0, ('a', 0)),
 (1, ('b', 1)),
 (2, ('c', 2)),
 (3, ('d', 3)),
 (4, ('e', 4)),
 (5, ('f', 5)),
 (6, ('g', 6)),
 (7, ('h', 7)),
 (8, ('i', 8)),
 (9, ('j', 9)),
 (10, ('k', 10)),
 (11, ('l', 11)),
 (12, ('m', 12)),
 (13, ('n', 13)),
 (14, ('o', 14)),
 (15, ('p', 15)),
 (16, ('q', 16)),
 (17, ('r', 17)),
 (18, ('s', 18)),
 (19, ('t', 19)),
 (20, ('u', 20)),
 (21, ('v', 21)),
 (22, ('w', 22)),
 (23, ('x', 23)),
 (24, ('y', 24)),
 (25, ('z', 25))]

In [91]:
list(enumerate('abc'))

[(0, 'a'), (1, 'b'), (2, 'c')]

The result is an **enumerate object** that loops through a sequence of pairs, where each pair contains an index (starting from 0) and an element from the given sequence.

In [ ]:
for i, element in enumerate('abc'):
    print(i, element)

## Comparing and Sorting

The relational operators work with tuples and other sequences.
For example, if you use the `<` operator with tuples, it starts by comparing the first element from each sequence.
If they are equal, it goes on to the next pair of elements, and so on, until it finds a pair that differ.

In [ ]:
(0, 1, 2) < (0, 3, 4)

Subsequent elements are not considered -- even if they are really big.

In [ ]:
(0, 1, 2000000) < (0, 3, 4)

This way of comparing tuples is useful for sorting a list of tuples, or finding the minimum or maximum.
As an example, let's find the most common letter in a word.
In the previous chapter, we wrote `value_counts`, which takes a string and returns a dictionary that maps from each letter to the number of times it appears.

In [102]:
def value_counts(string):
    counter = {}
    for letter in string:
        if letter not in counter:
            counter[letter] = 1
        else:
            counter[letter] += 1
    return counter

Here is the result for the string `'banana'`.

In [103]:
counter = value_counts('banana')
counter

{'b': 1, 'a': 3, 'n': 2}

With only three items, we can easily see that the most frequent letter is `'a'`, which appears three times.
But if there were more items, it would be useful to sort them automatically.

We can get the items from `counter` like this.

In [104]:
max(counter.values())

3

In [105]:
items = counter.items()
items

dict_items([('b', 1), ('a', 3), ('n', 2)])

The result is a `dict_items` object that behaves like a list of tuples, so we can sort it like this.

In [106]:
sorted(items)

[('a', 3), ('b', 1), ('n', 2)]

In [114]:
sorted(items)

[('a', 3), ('b', 1), ('n', 2)]

The default behavior is to use the first element from each tuple to sort the list, and use the second element to break ties.

However, to find the items with the highest counts, we want to use the second element to sort the list.
We can do that by writing a function that takes a tuple and returns the second element.

In [112]:
def second_element(t):
    return t[1]

Then we can pass that function to `sorted` as an optional argument called `key`, which indicates that this function should be used to compute the **sort key** for each item.

In [115]:
sorted_items = sorted(items, key=second_element)
sorted_items

[('b', 1), ('n', 2), ('a', 3)]

In [116]:
sorted_items = sorted(items, key=lambda x: x[1])
sorted_items

[('b', 1), ('n', 2), ('a', 3)]

The sort key determines the order of the items in the list.
The letter with the lowest count appears first, and the letter with the highest count appears last.
So we can find the most common letter like this.

In [118]:
sorted_items[0]

('b', 1)

If we only want the maximum, we don't have to sort the list.
We can use `max`, which also takes `key` as an optional argument.

In [ ]:
max(items, key=second_element)

To find the letter with the lowest count, we could use `min` the same way.

## Inverting a dictionary

Suppose you want to invert a dictionary so you can look up a value and get the corresponding key.
For example, if you have a word counter that maps from each word to the number of times it appears, you could make a dictionary that maps from integers to the words that appear that number of times.

But there's a problem -- the keys in a dictionary have to be unique, but the values don't. For example, in a word counter, there could be many words with the same count.

So one way to invert a dictionary is to create a new dictionary where the values are lists of keys from the original.
As an example, let's count the letters in `parrot`.

In [119]:
d =  value_counts('parrot')
d

{'p': 1, 'a': 1, 'r': 2, 'o': 1, 't': 1}

If we invert this dictionary, the result should be `{1: ['p', 'a', 'o', 't'], 2: ['r']}`, which indicates that the letters that appear once are `'p'`, `'a'`, `'o'`, and `'t'`, and the letter than appears twice is `'r'`.

The following function takes a dictionary and returns its inverse as a new dictionary.

In [122]:
def invert_dict(d):
    id = {}
    for k, v in d.items():
        if v not in id:
            id[v] = [k]
        else:
            id[v].append(k)
    return id

In [124]:
def invert_dict(d):
    id = defaultdict(list)
    for k, v in d.items():
        id[v].append(k)
    return id

The `for` statement loops through the keys and values in `d`.
If the value is not already in the new dictionary, it is added and associated with a list that contains a single element.
Otherwise it is appended to the existing list.

We can test it like this:

In [125]:
invert_dict(d)

defaultdict(list, {1: ['p', 'a', 'o', 't'], 2: ['r']})

And we get the result we expected.

This is the first example we've seen where the values in the dictionary are lists.
We will see more!

## Debugging

Lists, dictionaries and tuples are **data structures**.
In this chapter we are starting to see compound data structures, like lists of tuples, or dictionaries that contain tuples as keys and lists as values.
Compound data structures are useful, but they are prone to errors caused when a data structure has the wrong type, size, or structure.
For example, if a function expects a list of integers and you give it a plain old integer
(not in a list), it probably won't work.

To help debug these kinds of errors, I wrote a module called `structshape` that provides a function, also called `structshape`, that takes any kind of data structure as an argument and returns a string that summarizes its structure.
You can download it from
<https://raw.githubusercontent.com/AllenDowney/ThinkPython/v3/structshape.py>.

In [126]:
download('https://raw.githubusercontent.com/AllenDowney/ThinkPython/v3/structshape.py');

Downloaded structshape.py

We can import it like this.

In [127]:
from structshape import structshape

Here's an example with a simple list.

In [128]:
t = [1, 2, 3]
structshape(t)

'list of 3 int'

Here's a list of lists.

In [129]:
t2 = [[1,2], [3,4], [5,6]]
structshape(t2)

'list of 3 list of 2 int'

If the elements of the list are not the same type, `structshape` groups
them by type.

In [130]:
t3 = [1, 2, 3, 4.0, '5', '6', [7], [8], 9]
structshape(t3)

'list of (3 int, float, 2 str, 2 list of int, int)'

Here's a list of tuples.

In [131]:
s = 'abc'
lt = list(zip(t, s))
structshape(lt)

'list of 3 tuple of (int, str)'

And here's a dictionary with three items that map integers to strings.

In [132]:
d = dict(lt)
structshape(d)

'dict of 3 int->str'

If you are having trouble keeping track of your data structures,
`structshape` can help.

## Glossary

**pack:**
Collect multiple arguments into a tuple.

**unpack:**
Treat a tuple (or other sequence) as multiple arguments.

**zip object:**
The result of calling the built-in function `zip`, can be used to loop through a sequence of tuples.

**enumerate object:**
The result of calling the built-in function `enumerate`, can be used to loop through a sequence of tuples.

**sort key:**
A value, or function that computes a value, used to sort the elements of a collection.

**data structure:**
A collection of values, organized to perform certain operations efficiently.

## Exercises

In [ ]:
# This cell tells Jupyter to provide detailed debugging information
# when a runtime error occurs. Run it before working on the exercises.

%xmode Verbose

### Ask a virtual assistant

The exercises in this chapter might be more difficult than exercises in previous chapters, so I encourage you to get help from a virtual assistant.
When you pose more difficult questions, you might find that the answers are not correct on the first attempt, so this is a chance to practice crafting good prompts and following up with good refinements.

One strategy you might consider is to break a big problems into pieces that can be solved with simple functions.
Ask the virtual assistant to write the functions and test them.
Then, once they are working, ask for a solution to the original problem.

For some of the exercises below, I make suggestions about which data structures and algorithms to use.
You might find these suggestions useful when you work on the problems, but they are also good prompts to pass along to a virtual assistant.

### Exercise

In this chapter I said that tuples can be used as keys in dictionaries because they are hashable, and they are hashable because they are immutable.
But that is not always true.

If a tuple contains a mutable value, like a list or a dictionary, the tuple is no longer hashable because it contains elements that are not hashable. As an example, here's a tuple that contains two lists of integers.

In [133]:
list0 = [1, 2, 3]
list1 = [4, 5]

t = (list0, list1)
t

([1, 2, 3], [4, 5])

Write a line of code that appends the value `6` to the end of the second list in `t`. If you display `t`, the result should be `([1, 2, 3], [4, 5, 6])`.

In [136]:
t[1] = [4, 5, 6]

TypeError: 'tuple' object does not support item assignment

In [137]:
t[1].append(6)
t

([1, 2, 3], [4, 5, 6, 6])

Try to create a dictionary that maps from `t` to a string, and confirm that you get a `TypeError`.

In [138]:
# Solution goes here
d = { t : "abc" }

TypeError: unhashable type: 'list'

For more on this topic, ask a virtual assistant, "Are Python tuples always hashable?"

### Exercise

In this chapter we made a dictionary that maps from each letter to its index in the alphabet.

In [139]:
letters = 'abcdefghijklmnopqrstuvwxyz'
numbers = range(len(letters))
letter_map = dict(zip(letters, numbers))

For example, the index of `'a'` is `0`.

In [140]:
letter_map['a']

0

To go in the other direction, we can use list indexing.
For example, the letter at index `1` is `'b'`.

In [141]:
letters[1]

'b'

We can use `letter_map` and `letters` to encode and decode words using a Caesar cipher.

A Caesar cipher is a weak form of encryption that involves shifting each letter
by a fixed number of places in the alphabet, wrapping around to the beginning if necessary. For example, `'a'` shifted by 2 is `'c'` and `'z'` shifted by 1 is `'a'`.

Write a function called `shift_word` that takes as parameters a string and an integer, and returns a new string that contains the letters from the string shifted by the given number of places.

To test your function, confirm that "cheer" shifted by 7 is "jolly" and "melon" shifted by 16 is "cubed".

Hints: Use the modulus operator to wrap around from `'z'` back to `'a'`.
Loop through the letters of the word, shift each one, and append the result to a list of letters.
Then use `join` to concatenate the letters into a string.

You can use this outline to get started.

In [145]:
def shift_word(word, n):
    """Shift the letters of `word` by `n` places.

    >>> shift_word('cheer', 7)
    'jolly'
    >>> shift_word('melon', 16)
    'cubed'
    """
    result = []
    for c in word:
        c_idx = letter_map[c]
        shifted_idx = (c_idx + n) % len(letters)
        shifted_letter = letters[shifted_idx]
        result.append(shifted_letter)

    return ''.join(result)

In [ ]:
# Solution goes here

In [143]:
shift_word('cheer', 7)

'jolly'

In [146]:
shift_word('melon', 16)

'cubed'

You can use `doctest` to test your function.

In [ ]:
from doctest import run_docstring_examples

def run_doctests(func):
    run_docstring_examples(func, globals(), name=func.__name__)

run_doctests(shift_word)

### Exercise

Write a function called `most_frequent_letters` that takes a string and prints the letters in decreasing order of frequency.

To get the items in decreasing order, you can use `reversed` along with `sorted` or you can pass `reverse=True` as a keyword parameter to `sorted`.

You can use this outline of the function to get started.

In [159]:
def most_frequent_letters(string):
    letter_counts = value_counts(string)
    sorted_letter_counts = sorted(letter_counts.items(), key=lambda x: x[1], reverse=True)
    for letter, count in sorted_letter_counts:
        if letter in letters:
            print(letter.upper(), end="")

most_frequent_letters('brontosaurus')

ROSUBNTA

In [ ]:
# Solution goes here

And this example to test your function.

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

Once your function is working, you can use the following code to print the most common letters in *Dracula*, which we can download from Project Gutenberg.

In [157]:
download('https://www.gutenberg.org/cache/epub/345/pg345.txt');

In [160]:
string = open('pg345.txt').read()
most_frequent_letters(string)

ETAONHSIRDLUWMFCYGPBKVXQJZ

According to Zim's "Codes and Secret Writing", the sequence of letters in decreasing order of frequency in English starts with "ETAONRISH".
How does this sequence compare with the results from *Dracula*?

### Exercise

In a previous exercise, we tested whether two strings are anagrams by sorting the letters in both words and checking whether the sorted letters are the same.
Now let's make the problem a little more challenging.

We'll write a program that takes a list of words and prints all the sets of words that are anagrams.
Here is an example of what the output might look like:

    ['deltas', 'desalt', 'lasted', 'salted', 'slated', 'staled']
    ['retainers', 'ternaries']
    ['generating', 'greatening']
    ['resmelts', 'smelters', 'termless']

Hint: For each word in the word list, sort the letters and join them back into a string. Make a dictionary that maps from this sorted string to a list of words that are anagrams of it.

The following cells download `words.txt` and read the words into a list.

# Download is here

In [3]:
download('https://raw.githubusercontent.com/AllenDowney/ThinkPython/v3/words.txt');

In [4]:
word_list = open('words.txt').read().split()

Here's the `sort_word` function we've used before.

In [5]:
def sort_word(word):
    return ''.join(sorted(word))

In [8]:
len(word_list)

113783

In [7]:
# Solution goes here
from collections import defaultdict
anagrams = defaultdict(list)
for word in word_list:
    anagrams[sort_word(word)].append(word)
print(len(anagrams))
anagrams = {k : v for k, v in anagrams.items() if len(v) > 1}
print(len(anagrams))

100078
10153

To find the longest list of anagrams, you can use the following function, which takes a key-value pair where the key is a string and the value is a list of words.
It returns the length of the list.

In [ ]:
def value_length(pair):
    key, value = pair
    return len(value)

We can use this function as a sort key to find the longest lists of anagrams.

In [11]:
anagram_items = sorted(anagrams.items(), key=lambda p : len(p[1]))
for key, value in anagram_items[-10:]:
    print(key, value)

acerst ['carets', 'cartes', 'caster', 'caters', 'crates', 'reacts', 'recast', 'traces']
aeginrs ['earings', 'erasing', 'gainers', 'reagins', 'regains', 'reginas', 'searing', 'seringa']
aelps ['lapse', 'leaps', 'pales', 'peals', 'pleas', 'salep', 'sepal', 'spale']
aelpst ['palest', 'palets', 'pastel', 'petals', 'plates', 'pleats', 'septal', 'staple']
eiprs ['peris', 'piers', 'pries', 'prise', 'ripes', 'speir', 'spier', 'spire']
aceprs ['capers', 'crapes', 'escarp', 'pacers', 'parsec', 'recaps', 'scrape', 'secpar', 'spacer']
einrst ['estrin', 'inerts', 'insert', 'inters', 'niters', 'nitres', 'sinter', 'triens', 'trines']
aelst ['least', 'setal', 'slate', 'stale', 'steal', 'stela', 'taels', 'tales', 'teals', 'tesla']
aelrst ['alerts', 'alters', 'artels', 'estral', 'laster', 'ratels', 'salter', 'slater', 'staler', 'stelar', 'talers']
aeprs ['apers', 'asper', 'pares', 'parse', 'pears', 'prase', 'presa', 'rapes', 'reaps', 'spare', 'spear']

In [173]:
anagram_items = sorted(anagrams.items(), key=lambda p : len(p[0]))
for key, value in anagram_items[-10:]:
    print(value)

['certification', 'rectification']
['conservations', 'conversations']
['counterdemand', 'countermanded']
['impersonating', 'impregnations']
['photographers', 'rephotographs']
['questionnaire', 'questionniare']
['certifications', 'rectifications']
['impressiveness', 'permissiveness']
['questionnaires', 'questionniares']
['impressivenesses', 'permissivenesses']

If you want to know the longest words that have anagrams, you can use the following loop to print some of them.

In [172]:
longest = 15

for key, value in anagram_items:
    word_len = len(value[0])
    if word_len > longest:
        print(value)

['impressivenesses', 'permissivenesses']

### Exercise

Write a function called `word_distance` that takes two words with the same length and returns the number of places where the two words differ.

Hint: Use `zip` to loop through the corresponding letters of the words.

Here's an outline of the function with doctests you can use to check your function.

In [ ]:
def word_distance(word1, word2):
    """Computes the number of places where two word differ.

    >>> word_distance("hello", "hxllo")
    1
    >>> word_distance("ample", "apply")
    2
    >>> word_distance("kitten", "mutton")
    3
    """
    if len(word1) != len(word):
        print("Error: word1 and word2 must be the same length")
        return None
    
    count = 0
    for c1, c2 in zip(word1, word2):
        if c1 != c2:
            count += 1
    return count

In [ ]:
def word_distance(word1, word2):

    if len(word1) != len(word):
        print("Error: word1 and word2 must be the same length")
        return None
    
    count = 0
    for i in range(len(word1)):
        if word1[i] != word2[i]:
            count += 1
    return count

In [ ]:
# Solution goes here

In [ ]:
from doctest import run_docstring_examples

def run_doctests(func):
    run_docstring_examples(func, globals(), name=func.__name__)

run_doctests(word_distance)

### Exercise: Metathesis

"Metathesis" is the transposition of letters in a word.
Two words form a "metathesis pair" if you can transform one into the other by swapping two letters, like `converse` and `conserve`.
Write a program that finds all of the metathesis pairs in the word list.

Hint: The words in a metathesis pair must be anagrams of each other.

Credit: This exercise is inspired by an example at <http://puzzlers.org>.

In [10]:
for i, k in enumerate(anagrams):
    if i < 5:
        print (f"{k}: {anagrams[k]}")

aah: ['aah', 'aha']
aadeh: ['aahed', 'ahead']
aal: ['aal', 'ala']
aals: ['aals', 'alas']
aab: ['aba', 'baa']

In [ ]:
for k, v in anagrams.items():
    for i in range(len(v)):
        for j in range(i+1, len(v)):
            print(v[i], v[j])

In [25]:
from itertools import combinations

v = anagrams['aeginrs']
print(len(v))
print(v)
for w1, w2, w3 in combinations(v, 3):
    print(w1, w2, w3)

8
['earings', 'erasing', 'gainers', 'reagins', 'regains', 'reginas', 'searing', 'seringa']
earings erasing gainers
earings erasing reagins
earings erasing regains
earings erasing reginas
earings erasing searing
earings erasing seringa
earings gainers reagins
earings gainers regains
earings gainers reginas
earings gainers searing
earings gainers seringa
earings reagins regains
earings reagins reginas
earings reagins searing
earings reagins seringa
earings regains reginas
earings regains searing
earings regains seringa
earings reginas searing
earings reginas seringa
earings searing seringa
erasing gainers reagins
erasing gainers regains
erasing gainers reginas
erasing gainers searing
erasing gainers seringa
erasing reagins regains
erasing reagins reginas
erasing reagins searing
erasing reagins seringa
erasing regains reginas
erasing regains searing
erasing regains seringa
erasing reginas searing
erasing reginas seringa
erasing searing seringa
gainers reagins regains
gainers reagins reginas
gainers reagins searing
gainers reagins seringa
gainers regains reginas
gainers regains searing
gainers regains seringa
gainers reginas searing
gainers reginas seringa
gainers searing seringa
reagins regains reginas
reagins regains searing
reagins regains seringa
reagins reginas searing
reagins reginas seringa
reagins searing seringa
regains reginas searing
regains reginas seringa
regains searing seringa
reginas searing seringa

In [22]:
metathesis_list = []
for anagram_list in anagrams.values():
    for w1, w2 in combinations(anagram_list, 2):
        count = 0
        for c1, c2 in zip(w1, w2):
            if c1 != c2:
                count += 1
        if count == 2:
            metathesis_list.append((w1, w2))

print(len(metathesis_list))
print([p for p in metathesis_list if len(p[0]) > 7])

3307
[('accouter', 'accoutre'), ('accouters', 'accoutres'), ('aerologies', 'areologies'), ('aerology', 'areology'), ('aetheric', 'hetaeric'), ('ailments', 'aliments'), ('alburnum', 'laburnum'), ('alburnums', 'laburnums'), ('releasing', 'resealing'), ('alkalies', 'alkalise'), ('realters', 'relaters'), ('altitude', 'latitude'), ('altitudes', 'latitudes'), ('altruism', 'ultraism'), ('altruisms', 'ultraisms'), ('altruist', 'ultraist'), ('altruists', 'ultraists'), ('tetanies', 'tetanise'), ('anserous', 'arsenous'), ('antimonies', 'antinomies'), ('antimony', 'antinomy'), ('aptnesses', 'patnesses'), ('treaties', 'treatise'), ('armoires', 'armories'), ('serrates', 'terrases'), ('assertor', 'assorter'), ('assertors', 'assorters'), ('nattered', 'rattened'), ('barkiest', 'brakiest'), ('barrette', 'berretta'), ('barrettes', 'berrettas'), ('bayadeer', 'bayadere'), ('bayadeers', 'bayaderes'), ('bedrugged', 'begrudged'), ('bedrugging', 'begrudging'), ('bemiring', 'beriming'), ('beraking', 'breaking'), ('berating', 'rebating'), ('beslimed', 'besmiled'), ('beslimes', 'besmiles'), ('besliming', 'besmiling'), ('blankest', 'blankets'), ('bolsters', 'lobsters'), ('botanies', 'botanise'), ('briskest', 'briskets'), ('burblier', 'rubblier'), ('burbliest', 'rubbliest'), ('burbling', 'rubbling'), ('cadaster', 'cadastre'), ('cadasters', 'cadastres'), ('calibers', 'calibres'), ('discanted', 'distanced'), ('ceratins', 'creatins'), ('decanter', 'recanted'), ('captions', 'pactions'), ('caramels', 'ceramals'), ('triacids', 'triadics'), ('scarping', 'scraping'), ('carvings', 'cravings'), ('cascabel', 'cascable'), ('cascabels', 'cascables'), ('cascades', 'saccades'), ('cassocks', 'cossacks'), ('casually', 'causally'), ('recrates', 'retraces'), ('retraces', 'terraces'), ('decenter', 'decentre'), ('certification', 'rectification'), ('certifications', 'rectifications'), ('certified', 'rectified'), ('certifier', 'rectifier'), ('certifiers', 'rectifiers'), ('certifies', 'rectifies'), ('certifying', 'rectifying'), ('certitude', 'rectitude'), ('certitudes', 'rectitudes'), ('cervices', 'crevices'), ('chancres', 'cranches'), ('snatcher', 'stancher'), ('snatches', 'stanches'), ('citherns', 'cithrens'), ('cipolins', 'picolins'), ('tetracid', 'tetradic'), ('clanging', 'glancing'), ('clematis', 'climates'), ('clutches', 'cultches'), ('cohering', 'ochering'), ('coinfers', 'conifers'), ('colonies', 'colonise'), ('compeers', 'comperes'), ('compiled', 'complied'), ('compiler', 'complier'), ('compilers', 'compliers'), ('compiles', 'complies'), ('complaint', 'compliant'), ('concents', 'connects'), ('concerted', 'concreted'), ('concerting', 'concreting'), ('condoles', 'consoled'), ('conservation', 'conversation'), ('conservations', 'conversations'), ('conserve', 'converse'), ('conserved', 'conversed'), ('conserves', 'converses'), ('conserving', 'conversing'), ('corkiest', 'rockiest'), ('corklike', 'rocklike'), ('coroners', 'crooners'), ('electors', 'electros'), ('costumer', 'customer'), ('costumers', 'customers'), ('couthier', 'touchier'), ('couthiest', 'touchiest'), ('recrated', 'retraced'), ('retraced', 'terraced'), ('recrating', 'retracing'), ('retracing', 'terracing'), ('curacaos', 'curacoas'), ('hankered', 'harkened'), ('demander', 'remanded'), ('dangered', 'gandered'), ('gandered', 'gardened'), ('dangering', 'gandering'), ('gandering', 'gardening'), ('dawdlers', 'waddlers'), ('dawdling', 'waddling'), ('dealings', 'leadings'), ('deceiver', 'received'), ('decenters', 'decentres'), ('decliner', 'reclined'), ('radicels', 'radicles'), ('deferrer', 'referred'), ('deflower', 'reflowed'), ('deformer', 'reformed'), ('degrader', 'regraded'), ('regarded', 'regraded'), ('deification', 'edification'), ('deifications', 'edifications'), ('deifying', 'edifying'), ('silvered', 'slivered'), ('insouled', 'unsoiled'), ('denotation', 'detonation'), ('denotations', 'detonations'), ('desirers', 'residers'), ('discreet', 'discrete'), ('deserver', 'reserved'), ('reserved', 'reversed'), ('designer', 'resigned'), ('desiring', 'residing'), ('detailer', 'retailed'), ('detainer', 'retained'), ('detester', 'retested'), ('dignifies', 'signified'), ('diopters', 'dioptres'), ('discanting', 'distancing'), ('dissention', 'distension'), ('dissentions', 'distensions'), ('dongolas', 'gondolas'), ('doorless', 'odorless'), ('dormancies', 'mordancies'), ('dormancy', 'mordancy'), ('drabbest', 'drabbets'), ('drugging', 'grudging'), ('dwindles', 'swindled'), ('theaters', 'theatres'), ('pedicels', 'pedicles'), ('regelate', 'relegate'), ('regelates', 'relegates'), ('leaviest', 'vealiest'), ('electrode', 'electroed'), ('emprises', 'impreses'), ('energies', 'energise'), ('enisling', 'ensiling'), ('enologies', 'neologies'), ('terreens', 'terrenes'), ('latrines', 'ratlines'), ('eulogies', 'eulogise'), ('liveness', 'vileness'), ('livenesses', 'vilenesses'), ('excepted', 'expected'), ('excepting', 'expecting'), ('exploder', 'explored'), ('faltboat', 'flatboat'), ('faltboats', 'flatboats'), ('farmable', 'framable'), ('ferritic', 'terrific'), ('ferrying', 'refrying'), ('freshest', 'freshets'), ('frumenties', 'furmenties'), ('frumenty', 'furmenty'), ('gelatine', 'legatine'), ('gallates', 'galletas'), ('gallates', 'tallages'), ('gamblers', 'gambrels'), ('garmented', 'margented'), ('garmenting', 'margenting'), ('garments', 'margents'), ('gateways', 'getaways'), ('gelating', 'legating'), ('gelation', 'legation'), ('gelations', 'legations'), ('sleeting', 'steeling'), ('maligner', 'malinger'), ('gingkoes', 'ginkgoes'), ('godlings', 'lodgings'), ('grandams', 'grandmas'), ('underdog', 'undergod'), ('grummest', 'grummets'), ('gustiest', 'gutsiest'), ('halloing', 'hollaing'), ('hallooed', 'holloaed'), ('hallooing', 'holloaing'), ('handless', 'handsels'), ('hankerer', 'harkener'), ('hankerers', 'harkeners'), ('hankering', 'harkening'), ('haptenes', 'heptanes'), ('henequin', 'heniquen'), ('henequins', 'heniquens'), ('pastiche', 'pistache'), ('hurtless', 'hustlers'), ('pythonic', 'typhonic'), ('indented', 'intended'), ('indenter', 'intender'), ('indenters', 'intenders'), ('indenting', 'intending'), ('ruinated', 'urinated'), ('infarcts', 'infracts'), ('reinform', 'reniform'), ('reinsert', 'reinters'), ('minister', 'misinter'), ('sanities', 'sanitise'), ('theories', 'theorise'), ('keisters', 'kiesters'), ('kiltings', 'kitlings'), ('lameness', 'maleness'), ('lameness', 'nameless'), ('maleness', 'maneless'), ('maneless', 'nameless'), ('lamenesses', 'malenesses'), ('laterite', 'literate'), ('laterites', 'literates'), ('leasable', 'sealable'), ('sleetier', 'steelier'), ('levering', 'reveling'), ('leviable', 'liveable'), ('lienable', 'lineable'), ('limestone', 'milestone'), ('limestones', 'milestones'), ('limitary', 'military'), ('lowering', 'roweling'), ('lustring', 'rustling'), ('macerate', 'racemate'), ('macerates', 'racemates'), ('maligners', 'malingers'), ('marblers', 'ramblers'), ('marbling', 'rambling'), ('marquess', 'masquers'), ('mateless', 'tameless'), ('meagerly', 'meagrely'), ('melodies', 'melodise'), ('midspaces', 'misspaced'), ('mildness', 'mindless'), ('millimho', 'milliohm'), ('millimhos', 'milliohms'), ('ministers', 'misinters'), ('misdealing', 'misleading'), ('misdeals', 'misleads'), ('misfield', 'misfiled'), ('molarities', 'moralities'), ('molarity', 'morality'), ('monadism', 'nomadism'), ('monadisms', 'nomadisms'), ('monarchies', 'nomarchies'), ('monarchs', 'nomarchs'), ('monarchy', 'nomarchy'), ('monetize', 'zonetime'), ('monetizes', 'zonetimes'), ('monistic', 'nomistic'), ('monogram', 'nomogram'), ('monograms', 'nomograms'), ('monologies', 'nomologies'), ('monology', 'nomology'), ('mooriest', 'roomiest'), ('moraines', 'romaines'), ('nattering', 'rattening'), ('nettiest', 'tentiest'), ('nonrival', 'nonviral'), ('thorning', 'throning'), ('noteless', 'toneless'), ('observes', 'obverses'), ('ocherous', 'ochreous'), ('outrides', 'outsider'), ('outslept', 'outspelt'), ('overbusy', 'overbuys'), ('overdoes', 'overdose'), ('ozonides', 'ozonised'), ('pastiches', 'pistaches'), ('piasters', 'piastres'), ('patulent', 'petulant'), ('sleeping', 'speeling'), ('percents', 'precents'), ('percepts', 'precepts'), ('perfects', 'prefects'), ('performed', 'preformed'), ('performing', 'preforming'), ('performs', 'preforms'), ('plasters', 'psalters'), ('pervious', 'previous'), ('plastery', 'psaltery'), ('philters', 'philtres'), ('snoopier', 'spoonier'), ('portended', 'protended'), ('portending', 'protending'), ('portends', 'protends'), ('positing', 'sopiting'), ('potstone', 'topstone'), ('potstones', 'topstones'), ('presetting', 'pretesting'), ('propenes', 'propense'), ('questionnaire', 'questionniare'), ('questionnaires', 'questionniares'), ('quickest', 'quickset'), ('quinnats', 'quintans'), ('saltiers', 'saltires'), ('recourse', 'resource'), ('recourses', 'resources'), ('recusing', 'securing'), ('regarding', 'regrading'), ('regelated', 'relegated'), ('regelating', 'relegating'), ('released', 'resealed'), ('reliving', 'reviling'), ('repertoires', 'repertories'), ('repiners', 'ripeners'), ('repining', 'ripening'), ('reserver', 'reverser'), ('reservers', 'reversers'), ('reserves', 'reverses'), ('reserving', 'reversing'), ('resetting', 'retesting'), ('silverer', 'sliverer'), ('silverers', 'sliverers'), ('scepters', 'sceptres'), ('scepters', 'specters'), ('sceptres', 'spectres'), ('specters', 'spectres'), ('retrains', 'terrains'), ('ringlets', 'tinglers'), ('ripplets', 'tipplers'), ('rootlets', 'tootlers'), ('rowdiest', 'wordiest'), ('rowdiness', 'wordiness'), ('rowdinesses', 'wordinesses'), ('ruinates', 'urinates'), ('uranites', 'urinates'), ('ruinating', 'urinating'), ('saltiest', 'slatiest'), ('satirist', 'sitarist'), ('satirists', 'sitarists'), ('scarpers', 'scrapers'), ('sceptral', 'spectral'), ('schemers', 'schmeers'), ('sepulcher', 'sepulchre'), ('sepulchers', 'sepulchres'), ('servants', 'versants'), ('silvering', 'slivering'), ('skirrets', 'skirters'), ('sleetiest', 'steeliest'), ('slitting', 'stilting'), ('slowness', 'snowless'), ('snapless', 'spanless'), ('snatched', 'stanched'), ('snatchers', 'stanchers'), ('snatching', 'stanching'), ('sneaping', 'speaning'), ('snoopiest', 'spooniest'), ('snoopily', 'spoonily'), ('snooping', 'spooning'), ('solitaires', 'solitaries'), ('somberly', 'sombrely'), ('speiling', 'spieling'), ('speiring', 'spiering'), ('spotlight', 'stoplight'), ('spotlights', 'stoplights'), ('staccato', 'stoccata'), ('staccatos', 'stoccatas'), ('stardoms', 'tsardoms'), ('storying', 'stroying'), ('strongly', 'strongyl'), ('tumblers', 'tumbrels'), ('wildness', 'windless'), ('tantaras', 'tartanas'), ('tartlets', 'tattlers'), ('unmiters', 'unmitres'), ('thickest', 'thickets'), ('thickest', 'thickset'), ('unburden', 'unburned'), ('uncrated', 'untraced'), ('underdogs', 'undergods'), ('unleased', 'unsealed'), ('unserved', 'unversed'), ('untilted', 'untitled'), ('warstled', 'wrastled'), ('warstles', 'wrastles'), ('warstling', 'wrastling'), ('worthful', 'wrothful')]

### Exercise

This is a bonus exercise that is not in the book.
It is more challenging than the other exercises in this chapter, so you might want to ask a virtual assistant for help, or come back to it after you've read a few more chapters.

Here's another Car Talk Puzzler
(<http://www.cartalk.com/content/puzzlers>):

> What is the longest English word, that remains a valid English word,
> as you remove its letters one at a time?
>
> Now, letters can be removed from either end, or the middle, but you
> can't rearrange any of the letters. Every time you drop a letter, you
> wind up with another English word. If you do that, you're eventually
> going to wind up with one letter and that too is going to be an
> English word---one that's found in the dictionary. I want to know
> what's the longest word and how many letters does it have?
>
> I'm going to give you a little modest example: Sprite. Ok? You start
> off with sprite, you take a letter off, one from the interior of the
> word, take the r away, and we're left with the word spite, then we
> take the e off the end, we're left with spit, we take the s off, we're
> left with pit, it, and I.

Write a program to find all words that can be reduced in this way, and
then find the longest one.

This exercise is a little more challenging than most, so here are some
suggestions:

1.  You might want to write a function that takes a word and computes a
    list of all the words that can be formed by removing one letter.
    These are the "children" of the word.

2.  Recursively, a word is reducible if any of its children are
    reducible. As a base case, you can consider the empty string
    reducible.

3.  The word list we've been using doesn't contain single letter
    words. So you might have to add "I" and "a".

4.  To improve the performance of your program, you might want to
    memoize the words that are known to be reducible.

In [26]:
reducible_memo = {'a':True, 'i':True}
def is_reducible(w):
    if len(w) == 0:
        return False
    if w in reducible_memo:
        return reducible_memo[w]
    for c in w:
        new_word = w.replace(c, "")
        reducible_memo[new_word] = is_reducible(new_word)
        if reducible_memo[new_word]:
            return True
    return False

for w in sorted(word_list, key=lambda w: len(w), reverse=True):
    if is_reducible(w):
        print(w)
        break

counterdemonstrations

In [27]:
def print_reducible(w):
    for c in w:
        new_word = w.replace(c, "")
        if is_reducible(new_word):
            print(new_word)
            break

In [28]:
print_reducible(w)

ounterdemonstrations

In [ ]:
# Solution goes here

In [ ]:
# Solution goes here

[Think Python: 3rd Edition](https://allendowney.github.io/ThinkPython/index.html)

Copyright 2024 [Allen B. Downey](https://allendowney.com)

Code license: [MIT License](https://mit-license.org/)

Text license: [Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International](https://creativecommons.org/licenses/by-nc-sa/4.0/)